<table class="table">
    <thead>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Turns Used</th>
        <th>Overall Accuracy</th>
        <th>Status</th>
    </thead>
    <tbody>
        <tr *ngFor="let game of games">
            <td>{{game.startGame | date: 'MM/dd/yyyy hh:mm'}}</td>
            <td>{{game.endGame | date: 'MM/dd/yyyy hh:mm'}}</td>
            <td>{{game.turnsUsed}}</td>
            <td>{{game.overallAccuracy | percent: '3.2' }}</td>
            <td>{{game.status}}</td>
        </tr>
    </tbody>
</table>